<section class="todoapp">
  <header class="header">
    <h1>TODO List</h1>
    <%= form_for(@list) do |f| %>
    <ul class="todo-list">
        <li>
          <div class="view">
            <label><%= f.text_field :name %></label>
          </div>  
        </li>
    <% end %>
  </header>
  <section class="main" style="display: block">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @lists.each do |list| %>
        <li>
          <div class="view">
            <label><%= link_to list.name, list_path(list) %></label>
          </div>  
        </li>
       <% end %> 
    </ul>
  </section>
  <footer class="footer" style="display: none;">

  </footer>
</section>