<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <input class="new-todo" placeholder="Add an Item...", autofocus="">
  </header>
  <section class="main" style="display: block;">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @list.items.each do |item| %>
        <li>
          <div class="view">
            <label><%= item.description %></label>
          </div>
        </li>
      <% end %>  
    </ul>
  </section>
  <footer class="footer" style="display: none;">

  </footer>
</section>